@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

html { 
	font-family:Futura, Helvetica;
	color: black;
	background-color: #ffffff;
}
html, body{
	margin: 0px;
	padding: 0px;
}
body {font-family: Arial, Helvetica, sans-serif;}
form {width: 30%; height: 50%; margin: 0 auto;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);}
h1 {text-align: center;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #5c001f;
  color: maroon utm;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #5c001f;
}

.imgcontainer {
  text-align: center;
  width: auto;
  height: auto;
  padding-top:15px;
  margin: 24px 0 12px 0;
}

img.frame {
  width: 80%;
  height: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
