<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	

	<div class="gauge">

	</div>

	<div class="gauge">
		<div class="gauge__body">
			<div class="gauge__fill"></div>
			<div class="gauge__cover"></div>
		</div>
		<h2>Light Intensity</h2>
<!--	
			<div class="gauge__body">
			<div class="gauge__fill"></div>
			<div class="gauge__cover"></div>
		</div>
		<h2>Soil Moisture</h2>
-->
	</div>	
	
	<script type="text/javascript">
		var ldr = 0.7
		var y = {{p1}}
		var sm = 0.3
	</script>
	<link rel="stylesheet" type="text/css" href="../static/index.css"></link>
	<script type="text/javascript" src="../static/index.js"></script>	

</body>
</html>

