<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" type="text/css" href="../static/login.css">
</head>

<body>
	<form style="background-color:white" action = "http://localhost:5000/login" method = "post">
  		<div></div>
  		<div class="imgcontainer">
    		<img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/UTM-LOGO-FULL.png" alt="logo utm" class="frame"/>
    		<h1>SKEL4213</h1>
    		<h1>Agriculure Monitoring System</h1>
  		</div>

  		<div class="container">
    		<!--<label for="uname"><b>Username</b></label>-->
    		<input type="text" placeholder="Enter Username" name="nm" required>
    		<!--<label for="psw"><b>Password</b></label>-->
    		<input type="password" placeholder="Enter Password" name="pw" required>
    		<button type="submit" value = "submit"><font style="color:white">Login<font></button>
    		<label>
    		<input type="checkbox" check="check" name="remember"><font style="color:black">remember me<font>
    		</label>
<!--
  </div>
    <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><font style="color:white">Register<font></button>
    <span class="psw"><font style="color:black">Forgot<font> <a href="#">password?</a></span>
  </div>
-->
	</form>
</body>

</html>
